body{
    background-color: rgb(252, 254, 255);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
    display: inline;
   
}

.container {
    
}
#form
{   
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 1000px;
    max-width: 90%;
    padding: 35px;
    margin-bottom: 10px;
    display: inline-flex;
}

#form input
{
    
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 300px;
    max-width: 28%;
    padding: 45px;
    margin-bottom: 10px;
    display: inline-flex;
    border: 0;
 
}
 .Container
 {
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 98%;
    max-width: 105%;
    padding: 10px;
    margin: auto;
    display: inline-block;

 }
